h1{font-size:20px;font-family: 'Times New Roman';color: rgb(7, 184, 125);}
p{font-size: 13px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(252, 141, 141);}
.font18{
    font-size: 17px;
}
.h-color{
    color: blueviolet; font-size:30px; font-family:'Times New Roman', Times, serif;background-color: aquamarine;
}
.session2 .h-color{
    color: rgb(77, 77, 194);font-size: 40px;font-family: Georgia, 'Times New Roman', Times, serif;background-color: bisque;border-style: dotted ;border-color: rgb(165, 98, 10);
}
#one{
    font-size: 50px;
}